body{
    background-color: #000000;}

h1{color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    
}
p{
        color:#ffffff;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        margin-right: 450px;
    }
    h2{
        color:#ffffff;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        margin-bottom: 50px;
    }
    h4{
        color:#ffffff;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        margin-bottom: 50px;
        margin-top: 50px;
    }

.pattern    {
    display: flex;
    align-content: space-between;
    flex-basis: 100%;
}
.inputSend{
    margin: 0 6px;
}
span{
    color: #919031;
    margin: 0 2px;
}

#inputDados:hover {
    background-color: #919031;
    border-radius:3px;
}

.send{
    margin: 5px 5px;
    background-color:#ffffff;
    padding: 5px;
    border-radius:3px;
    color:#000000;
    border:1px solid #050505; 
    font-size: 18px;
}
.send:hover{
    background-color:#919031;
    color:#fafafa ;
    cursor: pointer;
    
}
#container {
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  
  #container figcaption {
    position: absolute;
    top: 50px;
    text-shadow: 0px 0px 5px black;
    text-align: left;
    margin-top: 200px;
    margin-left: 50px;
  }

  img {
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}


@media screen and (max-width: 730px) {
    .body {
      height: auto;
      width: 100%;
      padding: 0;
      text-align: center;
    }

      
.h1{
    height: auto;
    width: 100%;
    padding: 0;
    text-align: center;
    }
h2{
    height: auto;
    width: 100%;
    padding: 0;
    text-align: center;
    }
h3{
    height: auto;
    width: 100%;
    padding: 0;
    text-align: center;
     }
h4{
    height: auto;
    width: 100%;
    padding: 0;
    text-align: center;
    }
}